.movie__wrap {
    overflow: hidden;
}
.movie__inner {
    height: 1100px;
}
.movie__text {
    h3 {
        font-size: 50px;
        margin-bottom: 40px;
    }
    p {
        font-size: 22px;
        font-weight: 300;
        margin-bottom: 30px;
    }
    a {
        margin: 50px 0;
        border-radius: 50px;
    }
}
.movie__item {
    @include flex-between;
    position: absolute;
    margin-top: 70px;
    > div {
        width: 400px;
        margin-right: 10px;
        img {
            width: 100%;
        }
    }
}


// movie__page
.movie__page {}
.movie__slider {
    display: none;
}
.movie__search {
    text-align: center;
    margin-bottom: 50px;

    input {
        border: 1px solid #E8ECF2;
        font-size: 16px;
        padding: 10px 20px;
        @include border(50px);
        min-width: 500px;
        margin-right: 10px;
    }
    button {
        @include button (#F7100D, #fff);
        @include border(50px);
    }
}
.movie__tag {
    ul {
        display: flex;
        justify-content: center;
        margin-top: 100px;
        margin-bottom: 50px;

        li {
            border: 1px solid #F7100D;
            padding: 10px 20px;
            margin: 0 10px;
            
            a {
                color: #F7100D;
            }
        }
    }
}
.movie__cont {

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 100px;

        li {
            width: 31.333%;
            margin-bottom: 4%;

            span {
                display: block;
                margin: 4px 0;
            }
        }
    }
}