.youtube__inner {
    margin-bottom: 100px;
    h3 {
        font-size: 50px;
        margin-bottom: 30px;
    }
    p {
        font-size: 22px;
        font-weight: 300;
        margin-bottom: 80px ;
    }
    a {
        @include border(50px);
    }
}
.youtube__item {
    overflow: hidden;

    .youtube__item__box {
        display: flex;
        gap: 15px;

        img {
            width: 410px;
        }
    }
}

// youtube__page
.youtube__page {}
.youtube__slider {
    display: none;
}
.youtube__search {
    text-align: center;
    margin-bottom: 50px;

    input {
        border: 1px solid #E8ECF2;
        font-size: 16px;
        padding: 10px 20px;
        @include border(50px);
        min-width: 500px;
        margin-right: 10px;
    }
    button {
        @include button (#F7100D, #fff);
        @include border(50px);
    }
}
.youtube__tag {
    ul {
        display: flex;
        justify-content: center;
        margin-top: 100px;
        margin-bottom: 50px;

        li {
            border: 1px solid #F7100D;
            padding: 10px 20px;
            margin: 0 10px;
            
            a {
                color: #F7100D;
            }
        }
    }
}
.youtube__cont {

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 100px;

        li {
            width: 31.333%;
            margin-bottom: 4%;

            span {
                display: block;
                margin: 4px 0;
            }
        }
    }
}
.cont__title > h2 {
    text-align: center;
    font-size: 5vw;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10%;
}